<form action="/updated/<%= users.id %>" method="post">
      <input type="text" name="name" value="<%= users.name %>">
      <input type="text" name="number" value="<%= users.number %>">
      <input type="submit" name="submit">
</form>
